:root {
  --primary_text_color: white;
  --secondary_text_color: #DADADA;
  --foreground_color: #2C2F33;
  --secondary_color: #323539;
  --semi-transparent-secondary_color: rgba(50,53,57,.5);
  --background_color: black;
  --control_color: #40444A;

  --blue: #338BC1;
  --dark_blue: #13293D;
  --green: #69B578;
  --red: #d5463f;

  --sidebar_size: 200px;

  --content_font_size: 14px;
  --small_font_size: 9px;
  --larger_font_size: 16px;
  --big_font_size: 18px;
}
@media (prefers-color-scheme: light) {
    :root {
        --primary_text_color: black;
        --secondary_text_color: #525252;
        --foreground_color: #DEE0E3;
        --secondary_color: #D3D6D9;
        --semi-transparent-secondary_color: rgba(211,214,217,.9);
        --background_color: #BDC0C7;
        --control_color: #B5B9C0;
        --blue: #338BC1;
        --dark_blue: #13293D;
        --green: #69B578;
        --red: #d5463f;
        --sidebar_size: 200px;
        --content_font_size: 14px;
        --small_font_size: 9px;
        --larger_font_size: 16px;
        --big_font_size: 18px;
    }
}

html {
  font-size: var(--content_font_size);
  font-family: 'IBM Plex Sans', sans-serif;
  /*background: var(--background_color) url(/assets/images/cutetenshi.jpg) no-repeat center center fixed;
  background-size: cover;*/
  background: var(--background_color);
  color: var(--primary_text_color);
  margin-bottom: 0px;
}

body {
  min-height: 100vh;
}

h1, h2, h3, h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

hr {
  width: 100%;
  color: var(--primary_text_color);
}

img {
  display: block;
  margin: 0 auto;
  display: inline;
}

button {
  border: none;
  margin: 5px;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: var(--control_color);
  border-color: var(--control_color);
  color: var(--primary_text_color);
  font-size: var(--larger_font_size);
  font-family: 'IBM Plex Sans', sans-serif;
  display: inline-block;
  cursor: pointer;
  transition: all ease-out 200ms;
}
button:hover {
  display: inline-block;
  background-color: var(--blue);
  border-color: var(--blue);
  color: white;
}

a:link {
  color: var(--blue);
}
a:visited {
  color: var(--blue);
}

.white {
    color: white;
}

.dangerous {
  background-color: var(--red);
  padding: 10px;
  border-radius: 7px;
}
.secondarycard {
  background-color: var(--secondary_color);
  padding: 10px;
  border-radius: 7px;
}
.translucent-secondarycard {
    background-color: var(--semi-transparent-secondary_color);
    padding: 10px;
    border-radius: 7px;
    width: contain;
}

.centerpresentation {
  text-align: center;
  margin-top: 10px;
}

.sidebar {
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sidebar small {
  font-size: 75%;
  color: var(--secondary_text_color);
}
.sidebar a:link {
  color: var(--primary_text_color);
  text-decoration: none;
}
.sidebar a:visited {
  color: var(--primary_text_color);
  text-decoration: none;
}
.sidebarcontent {
  margin-left: var(--sidebar_size);
  min-height: 400px;
  padding: 0px 10px;
}

.list ul {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
}
.list li {
  width: 400px;
  margin: 5px;
}
.list p {
  margin-top: 0;
  text-align: center;
}
.list h3 {
  display: block;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 4px;
}
.list a:link {
  color: var(--primary_text_color);
  text-decoration: none;
}
.list a:visited {
  color: var(--primary_text_color);
  text-decoration: none;
}

.navbar {
  font-size: var(--small_font_size);
  margin-bottom: 10px;
}

.navbar a {
  margin-right: 10px;
}

.content {
  margin: 0 5%;
}
.content p {
  margin-block-start: 5px;
  margin-block-end: 7px;
}
.content img {
  max-width: 100%;
  height: auto;
}

.footer {
  font-size: var(--small_font_size);
  text-align: center;
}

.fmpheader {
  margin: 0 -5px 20px -5px;
  padding: 10px;
  background: var(--dark_blue);
  justify-items: left;
  text-align: left;
}
.squidheader {
  background: var(--blue);
  padding: 10px 0px 10px 10px;
  margin: 0px -10px 10px -10px;
  justify-items: left;
  text-align: left;
}

.sidebysideleft {
  width: 50%;
  float: left;
}
.sidebysideright {
  margin-left: 50%
}

.sidebysideminorleft {
  width: 20%;
  float: left;
}
.sidebysidemajorright {
  margin-left: 20%;
}

.fancyright {
  text-align: right;
  font-size: var(--big_font_size);
  font-weight: bold;
  padding: 0px 10px 0px 0px;
}
.fancyright a:link {
  color: var(--primary_text_color);
  text-decoration: none;
}
.fancyright a:visited {
  color: var(--primary_text_color);
  text-decoration: none;
}

.cardbody {
  background: var(--foreground_color);
  margin: auto;
  max-width: 1200px;
  min-height: 400px;

  padding: 10px;
  border-radius: 7px;
}

.cardbody-nominimums {
    background: var(--foreground_color);
    margin: auto;
    max-width: 1200px;

    padding: 10px;
    border-radius: 7px;
}

.fa-icon {
    width: 3em;
    height: 3em;
    vertical-align: -0.125em;
}

@keyframes specialFlipIn {
    0% {
        transform: translateY(-250px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.specialflipin {
    animation: 1s cubic-bezier(0.2,-0.02, 0.05, 1.35) 0s 1 specialFlipIn;
}

.expandwhenhovered {
    transition: transform 200ms ease-in-out 0s;
}
.expandwhenhovered:hover {
    transform: scale(1.7);
    transform-origin: center;
}