html {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}

p, h1, h2 {
    margin: 0 auto;
    padding: 5px 0;
}

body {
    background: #2C2F33;
    justify-items: center;
    text-align: center;
}
#header {
    margin: 20px 0 20px 0;
    padding: 20px 20px 20px 100px;
    background: #13293D;
    justify-items: left;
    text-align: left;
}
#content, #footer, #navbar {
    margin: 0 100px 0 100px;
    justify-items: left;
    text-align: left;
}
#rightcontent {
    justify-items: right;
    text-align: right;
}
img {
    display: block;
    margin: 0 auto;
    display: inline;
}

a:link {
    color: #338BC1;
}

a:visited {
    color: #69B578;
}

#navbar p {
    margin-top: 5px;
    text-align: left;
    font-size: 75%;
}

#navbar ul {
    margin: 0;
    margin-left: -20px;
    padding: 0;
}

#navbar li {
    margin-left: 20px;
    display: inline;
}

#liststyle ul {
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

#liststyle li {
    width: 200px;
}

#liststyle p {
    margin-top: 0;
    text-align: center;
}

#liststyle h3 {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 4px;
}

#liststyle a:link {
    color: white;
    text-decoration: none;
}

#liststyle a:visited {
    color: white;
    text-decoration: none;
}

#footer {
    font-size: 10px;
    text-align: left;
}
