---
layout: defaultwithcodehighlighting
---

<div class="fmpheader">
    <div class="content">
        <small class="white"><a href="/index.html">Home</a> > <a href="/news.html">News</a> > {{ page.title }}</small>
        <h1 class="white">{{page.title}}</h1>
        <small class="white">{{ page.date | date_to_long_string: "ordinal", "US" }}</small>
    </div>
    
</div>

<div class="content">
    {{ content }}

    <hr>
    <div class="sidebysideleft">
        <p><a href="{{page.previous.url}}">Previous: {{page.previous.title}}</a></p>
    </div>
    <div class="sidebysideright">
        <p><a href="{{page.next.url}}">Next: {{page.next.title}}</a></p>
    </div>
</div>

